@model MedicalRecord.Web.Models.PatientModel
@{
    var isNew = (Model.Id == 0);
    if (isNew)
    {
        ViewBag.Title = "New Patient";
    }
    else
    {
        ViewBag.Title = Model.FullName;
    }
}

<div>
    @Html.Partial("Patient", Model)
    <div class="button-holder">
        @if (isNew)
        {
            <button id="create-patient">Create Patient</button>
        }
        else
        {
            @Html.HiddenFor(m => m.Id, new { id = "patient-id" });
            <button id="save-patient">Save Patient</button>
        }

        <button id="delete-patient">DELETE</button>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Patient/Patient.js"></script>
    <script src="~/Scripts/Patient/Tooth.js"></script>
}