@model MedicalRecord.Web.Models.PatientModel
@{
    var isNew = (Model.Id == 0);
    if (isNew)
    {
        ViewBag.Title = "New Patient";
    }
    else
    {
        ViewBag.Title = Model.FullName;
    }
}

<div>    
    @Html.Partial("Patient", Model)
    @if (isNew)
    {
        <div>
            <button id="create-patient">Create Patient</button>
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Id, new { id = "patient-id" });
        <div>
            <button id="save-patient">Save Patient</button>
        </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/Patient/Patient.js"></script>
    <script src="~/Scripts/Patient/Tooth.js"></script>
}