@{
    ViewBag.Title = "Home Page";
}


<div>
    <div>
        <label>Enter EGN: </label>
        <input id="patient-search-dropdown" />
        <button id="open-patient">Open</button>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Patient/Search.js"></script>
    }