@{
    ViewBag.Title = "Home Page";
}


<div style="padding:10px">
    <div>
        <label>Enter EGN or Name: </label>
        <input id="patient-search-dropdown" />
        <button id="open-patient">Open</button>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Patient/Search.js"></script>
    }